* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #4554ff;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 16px;
}

.header-container h1 {
    color: antiquewhite;
}

.btn {
    padding: 16px 32px;
    border: none;
    border-radius: 24px;
    font-size: 16px;
}